<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'trivia/css/bootstrap.min.css' %}">
    <script src="{% static 'trivia/js/jquery.js' %}"></script>
    <script src="{% static 'trivia/js/popper.min.js' %}"></script>
    <script src="{% static 'trivia/js/bootstrap.min.js' %}"></script>
    

</head>
<body>
    <h3>Friendship Trivia Quiz</h3>
    
    <div class="card-group">
    <div class="card" ">
        <img src="{% static 'images/1.png' %}" class="card-img-top" alt="2022 Friendship Dare">
        <div class="card-body">
          <h5 class="card-title">2022 Friendship Dare</h5>
          <p class="card-text">2022 Friendship Dare. Friendship Trivia Quiz about how well do your friends know you.</p>
          <a href="#" class="btn btn-primary">start</a>
        </div>
      </div>

       
      <div class="card" ">
        <img src="{% static 'images/2.jpg' %}" class="card-img-top" alt="2022 Top 10 Friends Dare">
        <div class="card-body">
          <h5 class="card-title">2022 Top 10 Friends Dare</h5>
          <p class="card-text">2022 Top 10 Friends Dare. Best Friends Challenge of 2022. See how strong is your friendship</p>
          <a href="#" class="btn btn-primary">start</a>
        </div>
      </div>
  
      
       
      <div class="card" ">
        <img src="{% static 'images/3.png' %}" class="card-img-top" alt="Super Dare of 2022">
        <div class="card-body">
          <h5 class="card-title">Super Dare of 2022</h5>
          <p class="card-text">Super Dare of 2022. Check who knows you and test your friendship using this trivia quiz.</p>
          <a href="#" class="btn btn-primary">start</a>
        </div>
      </div>
 
      
       
      <div class="card" ">
        <img src="{% static 'images/4.png' %}" class="card-img-top" alt="2022 Top 5 Friends Challenge">
        <div class="card-body">
          <h5 class="card-title">2022 Top 5 Friends Challenge</h5>
          <p class="card-text">2022 Top 5 Friends Challenge. Take this Friendship trivia challenge to find out your top friends.</p>
          <a href="#" class="btn btn-primary">start</a>
        </div>
      </div>

      
       
      <div class="card" ">
        <img src="{% static 'images/5.png' %}" class="card-img-top" alt="Test Your Bond">
        <div class="card-body">
          <h5 class="card-title">Test Your Bond</h5>
          <p class="card-text">Test Your Bond. How well do you know your friends. Take this Friendship trivia quiz and find out.</p>
          <a href="#" class="btn btn-primary">start</a>
        </div>
      </div>

    </div>  
    
</body>
</html>

